{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- inner Section -->
<section class="overlay overlay-green parallax" data-bg-image="{% static 'images/jpg/bg/bg1.jpg' %}" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-title">
          <h2>about us</h2>
          <p>Home. About us</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: who-we-are & Latest Project -->
<section class="who-we-are">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-8 wow fadeInLeft animated">
          <h2 class="text-uppercase small-line text">Why <span class="text-theme-color">Choose Us ?</span></h2>
          <h4 class="mt20 mb20 text-theme-color">Mars Secure Transport Services LTD is a private ambulance provider established in 2015, </h4>
          <p> offering a National 24 hour, 365 days a year urgent response solution for the transportation of people who have a range of mental health illnesses as well as transportation of Children and Young Persons.</p>
          <p>Our staff have Years of experience and expertise in the transportation of patients detained under the Mental Health Act or who require other secure transport solutions. From informal admission to high risk patients who are sectioned, our staff deliver a quality, patient focused service that is always safe and secure.</p>
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <div class="service-item"> <i class="flaticon-syringe-2 pb20"></i>
                <h5><a href="#">qualified (RMN) or HCA escorts</a></h5>
                <p>provides secure or mobility impaired vehicles.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="service-item"> <i class="flaticon-perfusion pb20"></i>
                <h5><a href="#">Quality of service</a></h5>
                <p>while delivering the quality of service you expect.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="service-item"> <i class="flaticon-pills-1 pb20"></i>
                <h5><a href="#">multi-gender\multi-racial</a></h5>
                <p>We also provide driver only, or driver and any number of escorts.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeInRight animated">
          <h3 class="text-uppercase small-line mb20">Working<span class="text-theme-color"> Hours</span></h3>
          <div class="latest-project">
            <ul class="hours_wigdet">
              <li>Monday<span>09:00-20:00</span></li>
              <li>Tuesday<span>09:00-21:00</span></li>
              <li>Wednesday<span>09:00-20:00</span></li>
              <li>Thursday<span>24-Hour Shift</span></li>
              <li>Friday<span>09:00-21:00</span></li>
              <li>Saturday<span>09:00-18:00</span></li>
              <li>Sunday<span>11:00-19:00</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Call Back  -->
    <section class="call-to-action-boxed pb50">
        <div class="container-fluid pn">
            <div class="clearfix">
                <div class="call-to-action-corner col-md-4" style="background-image: url({% static 'images/jpg/call-to-action/1.jpg' %});">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="icofont icofont-clock-time"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>OPEN HOURS</h3>
                            <ul>
                              <li><span>Monday - Friday</span> <span>9am - 10pm</span></li>
                              <li><span>Sunday</span> <span>Closed</span></li>
                              <li><span>Saturday</span> <span>Closed</span></li>
                              <li>&nbsp;</li>
                              <li>&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="call-to-action-center col-md-4 pt50 pb50" style="background-image: url({% static 'images/jpg/call-to-action/2.jpg' %});">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="icofont icofont-bed-patient"></i></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Appointment</h3>
                            <p>By clicking this BookNow Button you will get a booking form to make appoinment.</p>
                            <a href="/booking" class="btn theme-btn mt10">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="call-to-action-corner col-md-4" style="background-image: url({% static 'images/jpg/call-to-action/3.jpg' %});">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="icofont icofont-money-bag"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>OLINE BILL SYSTEM</h3>
                            <p>You can pay your amount via
                                <br>various payment gateways
                                <br>and also through direct payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- Section: who-we-are & Latest Project -->
    <section class="who-we-are">
        <div class="container ptn">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-7 wow fadeInLeft animated">
                        <h2 class="text-uppercase small-line text">Why <span class="text-theme-color">Choose Us ?</span></h2>
                        <h4 class="mt20 mb20 text-theme-color"><em>Service users can be accompanied by our specially trained staff, who will facilitate safe and secure transportation.</em></h4>
                        <div class="faq-default-content-area faq-content mt50">
                            <div class="faq-default-content faq-content">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
                                      Mars Secure Transport Services LTD
                                  </a>
                                </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
                                            <div class="panel-body">
                                                <div class="panel_body_up">
                                                    <p>Mars Secure Transport Services LTD is a private ambulance provider established in 2015, offering a National 24 hour, 365 days a year urgent response solution for the transportation of people who have a range of mental health illnesses as well as transportation of Children and Young Persons. 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default" role="tablist">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Our staff have Years of experience and expertise
                                  </a>
                                </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body">
                                                <div class="panel_body_up">
                                                    <p>Our staff have Years of experience and expertise in the transportation of patients detained under the Mental Health Act or who require other secure transport solutions. From informal admission to high risk patients who are sectioned, our staff deliver a quality, patient focused service that is always safe and secure.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default" role="tablist">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                MARS Secure Transport Services LTD provides
                                                            </a>
                                                        </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                            <div class="panel-body">
                                                <div class="panel_body_up">
                                                    <p>MARS Secure Transport Services LTD provides secure or mobility impaired vehicles with or without qualified (RMN) or HCA escorts, while delivering the quality of service you expect. We also provide multi-gender and multi-racial teams; driver only, or driver and any number of escorts.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default" role="tablist">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">
                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Service users can be accompanied by our specially
                                  </a>
                                </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                            <div class="panel-body">
                                                <div class="panel_body_up">
                                                    <p>Service users can be accompanied by our specially trained staff, who will facilitate safe and secure transportation. All our staff receive a wide range of training, recognising the needs and behaviours of individuals and the responsibilities involved in working with Care Workers and Medical Professionals.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-5 wow fadeInRight animated appointment-1">
                        <div class="appointment-head">
                            <h3 class="text-uppercase">MAKE AN APPOINTMENT</h3>
                            <h5 class="text-uppercase">Call : (+880) 123 45689</h5>
                        </div>
                        <div class="appointment-form p30">
                            <div class="frm-register">
                                <div class="form-group">
                                    <span class="full_name"><input type="text" name="full_name" value="" size="40" class="form-control" placeholder="Full Name" ></span>
                                </div>
                                <div class="form-group">
                                    <span class="email"><input type="email" name="email" value="" size="40" class="form-control" placeholder="Email"></span>
                                </div>
                                <div class="form-group">
                                    <span class="Department">
                      <select name="Department" class="form-control" aria-invalid="false">
                        <option value="Please Choose a department">Please Choose a department</option>
                      </select>
                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="">
                <input type="date" name="date_time" value="" class=" form-control" aria-invalid="false" placeholder="eg: next monday 3pm">
              </span>
                                </div>
                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap information">
                <textarea name="information" cols="40" rows="3" class="form-control" aria-invalid="false"></textarea>
              </span>
                                </div>
                                <p>
                                    <input type="submit" value="Book An Appointment" class="p10">
                                </p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

  
  <!-- Section: FunFact -->
  <section class="fact-counter style-two overlayer default-overlay text-center parallax" data-bg-image="{% static 'images/jpg/bg/bg1.jpg' %}">
    <div class="container">
      <div class="row fun-fact">
        <div class="col-md-3 col-sm-6 col-xs-12 counter-column wow fadeIn">
          <div class="cs-counter-col">
            <div class="cs-number-count"> <i class="icon flaticon-mortarboard"></i>
              <div class="count-outer"><span class="counter count count-text" data-count="1234">00</span></div>
              <div class="text">
                <h3>satisfied clients</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 counter-column wow fadeIn">
          <div class="cs-counter-col">
            <div class="cs-number-count"> <i class="icon flaticon-mortarboard"></i>
              <div class="count-outer"><span class="counter count count-text" data-count="1234"></span> %</div>
              <div class="text">
                <h3>satisfiction rate</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 counter-column wow fadeIn">
          <div class="cs-counter-col">
            <div class="cs-number-count"> <i class="icon flaticon-mortarboard"></i>
              <div class="count-outer"><span class="counter count count-text" data-count="1234">00</span></div>
              <div class="text">
                <h3>expert Doctors</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 counter-column wow fadeIn">
          <div class="cs-counter-col">
            <div class="cs-number-count"> <i class="icon flaticon-mortarboard"></i>
              <div class="count-outer"><span class="counter count count-text" data-count="1234">00</span></div>
              <div class="text">
                <h3>years of experience</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end fun-fact --> 
    </div>
  </section>
  
{% endblock %}