{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <!-- start of hero -->
  <section class="hero hero-slider-wrapper">
    <div class="hero-slider">
      <div class="slide"> <img src="{% static 'images/jpg/slider/1.jpg' %}" alt>
        <div class="title"> <span>Welcome to MARS Transport for</span>
          <h1>Foundation</h1>
          <a href="/booking" class="btn theme-btn">Book Now</a> </div>
      </div>
      <div class="slide"> <img src="{% static 'images/jpg/slider/22.jpg' %}" alt>
        <div class="title"> <span>Welcome to MARS Transport for</span>
          <h1>Hospital</h1>
          <a href="/booking" class="btn theme-btn">Book Now</a> </div>
      </div>
      <div class="slide"> <img src="{% static 'images/jpg/slider/3.jpg' %}" alt>
        <div class="title"> <span>Welcome to MARS Transport for</span>
          <h1>business</h1>
          <a href="/booking" class="btn theme-btn">Book Now</a> </div>
      </div>
    </div>
  </section>
  <!-- end hero slider --> 
  
  <!-- Section: who-we-are & Latest Project -->
  <section class="who-we-are">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 wow fadeInLeft animated">
            <h2 class="text-uppercase small-line text">Why <span class="text-theme-color">Choose Us ?</span></h2>
            <h4 class="mt20 mb20 text-theme-color">Lorem ipsum dolor sit amet consectetur adipisicing elit Perferendis repudiandae nostrum quibusdam! elit Perferendis repudiandae</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, corrupti, fugit. Temporibus nostrum nam deleniti vitae accusantium iste sunt facilis, quisquam eveniet reiciendis corporis, veniam nulla. Provident tempora perspiciatis quod commodi iure neque eaque quos, consequuntur expedita dolorem dicta dignissimos.</p>
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <div class="service-item"> <i class="icofont icofont-first-aid-alt pb20"></i>
                  <h5><a href="#">Qualified Escorts </a></h5>
                  <p>Aliquam erat volutpat. Phasellus a purus. </p>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="service-item"> <i class="icofont icofont-first-aid-alt pb20"></i>
                  <h5><a href="#">Absconders Caring</a></h5>
                  <p>Aliquam erat volutpat. Phasellus a purus. </p>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="service-item"> <i class="icofont icofont-first-aid-alt pb20"></i>
                  <h5><a href="#">Quality of service</a></h5>
                  <p>Aliquam erat volutpat. Phasellus a purus. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 wow fadeInRight animated">
            <h3 class="text-uppercase small-line mb20">24/7 Hours<span class="text-theme-color"> Service</span></h3>
            <div class="latest-project">
              <ul class="hours_wigdet">
                <li>Monday<span>24-Hour Shift</span></li>
                <li>Tuesday<span>24-Hour Shift</span></li>
                <li>Wednesday<span>24-Hour Shift</span></li>
                <li>Thursday<span>24-Hour Shift</span></li>
                <li>Friday<span>24-Hour Shift</span></li>
                <li>Saturday<span>24-Hour Shift</span></li>
                <li>Sunday<span>24-Hour Shift</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Section: FunFact -->
  <section class="fact-counter style-two overlayer default-overlay text-center parallax" data-bg-image="{% static 'images/jpg/bg/bg1.jpg' %}">
    <div class="container">
      <div class="row fun-fact">
        <div class="col-md-3 col-sm-6 col-xs-12 counter-column wow fadeIn">
          <div class="cs-counter-col">
            <div class="cs-number-count"> <i class="icon flaticon-mortarboard"></i>
              <div class="count-outer"><span class="counter count count-text" data-count="1325">00</span></div>
              <div class="text">
                <h3>satisfied clients</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 counter-column wow fadeIn">
          <div class="cs-counter-col">
            <div class="cs-number-count"> <i class="icon flaticon-mortarboard"></i>
              <div class="count-outer"><span class="counter count count-text" data-count="100"></span> %</div>
              <div class="text">
                <h3>satisfiction rate</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 counter-column wow fadeIn">
          <div class="cs-counter-col">
            <div class="cs-number-count"> <i class="icon flaticon-mortarboard"></i>
              <div class="count-outer"><span class="counter count count-text" data-count="1234">00</span></div>
              <div class="text">
                <h3>expert Servicemen</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 counter-column wow fadeIn">
          <div class="cs-counter-col">
            <div class="cs-number-count"> <i class="icon flaticon-mortarboard"></i>
              <div class="count-outer"><span class="counter count count-text" data-count="15">00</span>+</div>
              <div class="text">
                <h3>Service Years</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end fun-fact --> 
    </div>
  </section>
  
  <!-- Section: Our Departments -->
  <section class="our-department">
    <div class="container">
      <div class="section-title">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h6>WE CARE ABOUT PATIENT</h6>
            <h2>OUR OUTSTANDING<span> SERVICES</span></h2>
            <p>Sed malesuada nunc sit amet quam hendrerit, mollis vulputate risus tristique. Quisque dapibus eros et dolor accumsan, sit amet interdum tortor imperdiet.</p>
          </div>
        </div>
      </div>
      <div class="section-wrap">
        <div class="row"> 
          <!--Column-->
          <div class="col-md-4 col-sm-6 med-icon">
            <article class="inner-box">
              <div class="icon"><span class="icofont icofont-ambulance"></span></div>
              <div class="content">
                <h4>Emergency Care</h4>
                <div class="text">
                  <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus.</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4 col-sm-6 med-icon">
            <article class="inner-box">
              <div class="icon"><span class="icofont icofont-ambulance"></span></div>
              <div class="content">
                <h4>Returning to placements</h4>
                <div class="text">
                  <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus.</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4 col-sm-6 med-icon">
            <article class="inner-box">
              <div class="icon"><span class="icofont icofont-ambulance"></span></div>
              <div class="content">
                <h4>Hospital & Dental Support</h4>
                <div class="text">
                  <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus.</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4 col-sm-6 med-icon">
            <article class="inner-box">
              <div class="icon"><span class="icofont icofont-ambulance"></span></div>
              <div class="content">
                <h4>Child & Young</h4>
                <div class="text">
                  <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus.</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4 col-sm-6 med-icon">
            <article class="inner-box">
              <div class="icon"><span class="icofont icofont-ambulance"></span></div>
              <div class="content">
                <h4>24/7 Special Service</h4>
                <div class="text">
                  <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus.</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4 col-sm-6 med-icon">
            <article class="inner-box">
              <div class="icon"><span class="icofont icofont-ambulance"></span></div>
              <div class="content">
                <h4>self-harm prevention</h4>
                <div class="text">
                  <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus.</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!--Gallery Style One-->
  <section class="gallery-one overlayer default-overlay parallax" data-bg-image="{% static 'images/jpg/bg/bg1.jpg' %}">
    <div class="container pbn">
      <div class="section-title">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h6 class="text-white">WE CARE ABOUT PATIENT</h6>
            <h2 class="text-white">Who<span> We Are?</span></h2>
            <p class="text-white">Sed malesuada nunc sit amet quam hendrerit, mollis vulputate risus tristique. Quisque dapibus eros et dolor accumsan, sit amet interdum tortor imperdiet.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid ptn">
      <div class="row clearfix">
        <div class="carousel-col-5">
        	<div class="default-gallery-item item">
            <div class="inner-box"> 
              <!--Image Box-->
              <figure class="image-box"><img src="{% static 'images/jpg/gallery/h0.jpg' %}" alt="" class="img-responsive"></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content"> <a href="{% static 'images/jpg/gallery/h0.jpg' %}" class="lightbox-image image-link" title="Image Caption Here"><span class="icon icon-Search"></span></a>
                    <h3>project title</h3>
                    <p>Scaping, renovation</p>
                  </div>
                </div>
              </div>
            </div>
            <!--Default Gallery Item--> 
          </div>
          <div class="default-gallery-item item">
            <div class="inner-box"> 
              <!--Image Box-->
              <figure class="image-box"><img src="{% static 'images/jpg/gallery/h2.jpg' %}" alt="" class="img-responsive"></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content"> <a href="{% static 'images/jpg/gallery/h2.jpg' %}" class="lightbox-image image-link" title="Image Caption Here"><span class="icon icon-Search"></span></a>
                    <h3>project title</h3>
                    <p>Scaping, renovation</p>
                  </div>
                </div>
              </div>
            </div>
            <!--Default Gallery Item--> 
          </div>
          <div class="default-gallery-item item">
            <div class="inner-box"> 
              <!--Image Box-->
              <figure class="image-box"><img src="{% static 'images/jpg/gallery/h3.jpg' %}" alt="" class="img-responsive"></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content"> <a href="{% static 'images/jpg/gallery/h3.jpg' %}" class="lightbox-image image-link" title="Image Caption Here"><span class="icon icon-Search"></span></a>
                    <h3>project title</h3>
                    <p>Scaping, renovation</p>
                  </div>
                </div>
              </div>
            </div>
            <!--Default Gallery Item--> 
          </div>
          <div class="default-gallery-item item">
            <div class="inner-box"> 
              <!--Image Box-->
              <figure class="image-box"><img src="{% static 'images/jpg/gallery/h4.jpg' %}" alt="" class="img-responsive"></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content"> <a href="{% static 'images/jpg/gallery/h4.jpg' %}" class="lightbox-image image-link" title="Image Caption Here"><span class="icon icon-Search"></span></a>
                    <h3>project title</h3>
                    <p>Scaping, renovation</p>
                  </div>
                </div>
              </div>
            </div>
            <!--Default Gallery Item--> 
          </div>
          <div class="default-gallery-item item">
            <div class="inner-box"> 
              <!--Image Box-->
              <figure class="image-box"><img src="{% static 'images/jpg/gallery/h5.jpg' %}" alt="" class="img-responsive"></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content"> <a href="{% static 'images/jpg/gallery/h5.jpg' %}" class="lightbox-image image-link" title="Image Caption Here"><span class="icon icon-Search"></span></a>
                    <h3>project title</h3>
                    <p>Scaping, renovation</p>
                  </div>
                </div>
              </div>
            </div>
            <!--Default Gallery Item--> 
          </div>
          <div class="default-gallery-item item">
            <div class="inner-box"> 
              <!--Image Box-->
              <figure class="image-box"><img src="{% static 'images/jpg/gallery/h6.jpg' %}" alt="" class="img-responsive"></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content"> <a href="{% static 'images/jpg/gallery/h6.jpg' %}" class="lightbox-image image-link" title="Image Caption Here"><span class="icon icon-Search"></span></a>
                    <h3>project title</h3>
                    <p>Scaping, renovation</p>
                  </div>
                </div>
              </div>
            </div>
            <!--Default Gallery Item--> 
          </div>
          <div class="default-gallery-item item">
            <div class="inner-box"> 
              <!--Image Box-->
              <figure class="image-box"><img src="{% static 'images/jpg/gallery/h7.jpg' %}" alt="" class="img-responsive"></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content"> <a href="{% static 'images/jpg/gallery/h7.jpg' %}" class="lightbox-image image-link" title="Image Caption Here"><span class="icon icon-Search"></span></a>
                    <h3>project title</h3>
                    <p>Scaping, renovation</p>
                  </div>
                </div>
              </div>
            </div>
            <!--Default Gallery Item--> 
          </div>
          <div class="default-gallery-item item">
            <div class="inner-box"> 
              <!--Image Box-->
              <figure class="image-box"><img src="{% static 'images/jpg/gallery/h9.jpg' %}" alt="" class="img-responsive"></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content"> <a href="{% static 'images/jpg/gallery/h9.jpg' %}" class="lightbox-image image-link" title="Image Caption Here"><span class="icon icon-Search"></span></a>
                    <h3>project title</h3>
                    <p>Scaping, renovation</p>
                  </div>
                </div>
              </div>
            </div>
            <!--Default Gallery Item--> 
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--Blog Section-->
  <section class="blog">
    <div class="container">
      <div class="section-title">
        <div class="row">
          <div class="col-md-4">
            <!-- <h6>Latest blog</h6> -->
            <h2>Our <span> Gallery</span></h2>
          </div>
          <div class="col-md-7">
            <p>Sed malesuada nunc sit amet quam hendrerit, mollis vulputate risus tristique. Quisque dapibus eros et dolor accumsan, sit amet interdum tortor imperdiet.</p>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-sm-6 col-md-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <article class="post clearfix">
              <div class="blog-effect"> <a href="#">
                <figure> <img class="img-responsive" src="{% static 'images/jpg/blog/1.jpg' %}" alt=""></figure>
                </a> </div>
              <div class="post-body">
                <div class="post-info"> <a href="#">Oct 19<sup>th</sup>, 2016 - </a> <a href="#"><span class="icon icon-Message"></span> 10 Comments</a> <a href="#"> - <span class="icon icon-Pen"></span> by Authore</a> </div>
                <h3 class="post-title">What is the success rate of a Root Canel?</h3>
                <!-- <a href="blog/" class="btn theme-btn mt10">Read more</a> </div> -->
            </article>
          </div>
          <div class="col-sm-6 col-md-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <article class="post clearfix">
              <div class="blog-effect"> <a href="#">
                <figure> <img class="img-responsive" src="{% static 'images/jpg/blog/2.jpg' %}" alt=""></figure>
                </a> </div>
              <div class="post-body">
                <div class="post-info"> <a href="#">Oct 19<sup>th</sup>, 2016 - </a> <a href="#"><span class="icon icon-Message"></span> 10 Comments</a> <a href="#"> - <span class="icon icon-Pen"></span> by Authore</a> </div>
                <h3 class="post-title">Cosmetic Dentistry Techniques Explained</h3>
                <!-- <a href="blog/" class="btn theme-btn mt10">Read more</a> </div> -->
            </article>
          </div>
          <div class="col-sm-6 col-md-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <article class="post clearfix">
              <div class="blog-effect"> <a href="#">
                <figure> <img class="img-responsive" src="{% static 'images/jpg/blog/3.jpg' %}" alt=""></figure>
                </a> </div>
              <div class="post-body">
                <div class="post-info"> <a href="#">Oct 19<sup>th</sup>, 2016 - </a> <a href="#"><span class="icon icon-Message"></span> 10 Comments</a> <a href="#"> - <span class="icon icon-Pen"></span> by Authore</a> </div>
                <h3 class="post-title">Synthetic Glycopolymer Tests Mucoadhesion</h3>
                <!-- <a href="blog/" class="btn theme-btn mt10">Read more</a> </div> -->
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}