{% load static %}
<nav class="main-menu logo-outer">
            <div class="navbar-header"> 
              <!-- Toggle Button -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                <li class="current dropdown"> <a href="/">Home</a>
                </li>
                <li class="dropdown"> <a href="/about">About us</a>
                </li>
                <li class="dropdown"> <a href="/service">Sercices</a>
                </li>
                <li class="dropdown"> <a href="/training">Sercices</a>
                </li>
                <li class="dropdown"><a href="/booking">Book Now</a>
                </li>
                <li class="dropdown"> <a href="/pricing">Pricing</a>
                </li>
                <li class="dropdown"> <a href="/news">News</a>
                </li>
                <li class="dropdown"> <a href="/contact">Contact Us</a>
                </li>
              </ul>
            </div>
          </nav>