{% extends 'base.html' %}
{% load static %}
{% block content %} 
  
  <!-- inner Section -->
  <section class="overlay overlay-green parallax" data-bg-image="{% static 'images/jpg/bg/bg1.jpg' %}" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-title">
            <h2>services</h2>
            <p>Home. services</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- services-details -->
  <section class="services-details">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-md-3">
            <div class="vertical-tab">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab"><span class="icon icon-Arrow"></span>Secure Ambulance</a></li>
                <li><a href="#tab2" data-toggle="tab"><span class="icon icon-Arrow"></span>High Secure Ambulance</a></li>
                <li><a href="#tab3" data-toggle="tab"><span class="icon icon-Arrow"></span>Child & Young</a></li>
                <li><a href="#tab4" data-toggle="tab"><span class="icon icon-Arrow"></span>Wheel Chair Access</a></li>
                <li><a href="#tab5" data-toggle="tab"><span class="icon icon-Arrow"></span>Returning to Placement </a></li>
                <li><a href="#tab6" data-toggle="tab"><span class="icon icon-Arrow"></span>For absconders & self-harm</a></li>
                <li><a href="#tab7" data-toggle="tab"><span class="icon icon-Arrow"></span>Hospital, dental & others</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-7"> <img class="img-responsive img-fullwidth" src="{% static 'images/jpg/service/1.jpg' %}" alt=""> </div>
                      <div class="col-md-5">
                        <div class="content">
                          <p>In viverra orci ut neque rutrum maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pharetra nibh leo, eu mollis ipsum gravida eget. Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non. Suspendisse vestibulum est sit amet efficitur Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non.</p>
                        </div>
                      </div>
                    </div>
                    <div class="content">
                      <p>Nullam mattis odio quis justo finibus ultricies. Duis elementum dui congue diam mattis blandit. Praesent convallis fringilla tellus a venenatis. Donec pharetra, leo tempus pulvinar fermentum, urna felis semper dui, at commodo metus purus ornare velit. Proin facilisis vehicula blandit. Nulla elementum congue fermentum. Aenean feugiat sit amet justo vitae tempus. Proin sed porttitor lorem, sed iaculis ligula. Aenean eget quam dolor. Aliquam id diam id mi condimentum semper vitae at lorem. Sed diam orci, malesuada sit amet ornare at, finibus vel mi. Vestibulum elit justo, posuere eget nibh vel, faucibus placerat sem. Sed id purus in urna ullamcorper hendrerit. In interdum pellentesque dolor, ut posuere lectus malesuada id. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade in" id="tab2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-7"> <img class="img-responsive img-fullwidth" src="{% static 'images/jpg/service/2.jpg' %}" alt=""> </div>
                      <div class="col-md-5">
                        <div class="content">
                          <p>In viverra orci ut neque rutrum maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pharetra nibh leo, eu mollis ipsum gravida eget. Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non. Suspendisse vestibulum est sit amet efficitur Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non.</p>
                        </div>
                      </div>
                    </div>
                    <div class="content">
                      <p>Nullam mattis odio quis justo finibus ultricies. Duis elementum dui congue diam mattis blandit. Praesent convallis fringilla tellus a venenatis. Donec pharetra, leo tempus pulvinar fermentum, urna felis semper dui, at commodo metus purus ornare velit. Proin facilisis vehicula blandit. Nulla elementum congue fermentum. Aenean feugiat sit amet justo vitae tempus. Proin sed porttitor lorem, sed iaculis ligula. Aenean eget quam dolor. Aliquam id diam id mi condimentum semper vitae at lorem. Sed diam orci, malesuada sit amet ornare at, finibus vel mi. Vestibulum elit justo, posuere eget nibh vel, faucibus placerat sem. Sed id purus in urna ullamcorper hendrerit. In interdum pellentesque dolor, ut posuere lectus malesuada id. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade in" id="tab3">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-7"> <img class="img-responsive img-fullwidth" src="{% static 'images/jpg/service/3.jpg' %}" alt=""> </div>
                      <div class="col-md-5">
                        <div class="content">
                          <p>In viverra orci ut neque rutrum maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pharetra nibh leo, eu mollis ipsum gravida eget. Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non. Suspendisse vestibulum est sit amet efficitur Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non.</p>
                        </div>
                      </div>
                    </div>
                    <div class="content">
                      <p>Nullam mattis odio quis justo finibus ultricies. Duis elementum dui congue diam mattis blandit. Praesent convallis fringilla tellus a venenatis. Donec pharetra, leo tempus pulvinar fermentum, urna felis semper dui, at commodo metus purus ornare velit. Proin facilisis vehicula blandit. Nulla elementum congue fermentum. Aenean feugiat sit amet justo vitae tempus. Proin sed porttitor lorem, sed iaculis ligula. Aenean eget quam dolor. Aliquam id diam id mi condimentum semper vitae at lorem. Sed diam orci, malesuada sit amet ornare at, finibus vel mi. Vestibulum elit justo, posuere eget nibh vel, faucibus placerat sem. Sed id purus in urna ullamcorper hendrerit. In interdum pellentesque dolor, ut posuere lectus malesuada id. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade in" id="tab4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-7"> <img class="img-responsive img-fullwidth" src="{% static 'images/jpg/service/4.jpg' %}" alt=""> </div>
                      <div class="col-md-5">
                        <div class="content">
                          <p>In viverra orci ut neque rutrum maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pharetra nibh leo, eu mollis ipsum gravida eget. Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non. Suspendisse vestibulum est sit amet efficitur Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non.</p>
                        </div>
                      </div>
                    </div>
                    <div class="content">
                      <p>Nullam mattis odio quis justo finibus ultricies. Duis elementum dui congue diam mattis blandit. Praesent convallis fringilla tellus a venenatis. Donec pharetra, leo tempus pulvinar fermentum, urna felis semper dui, at commodo metus purus ornare velit. Proin facilisis vehicula blandit. Nulla elementum congue fermentum. Aenean feugiat sit amet justo vitae tempus. Proin sed porttitor lorem, sed iaculis ligula. Aenean eget quam dolor. Aliquam id diam id mi condimentum semper vitae at lorem. Sed diam orci, malesuada sit amet ornare at, finibus vel mi. Vestibulum elit justo, posuere eget nibh vel, faucibus placerat sem. Sed id purus in urna ullamcorper hendrerit. In interdum pellentesque dolor, ut posuere lectus malesuada id. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade in" id="tab5">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-7"> <img class="img-responsive img-fullwidth" src="{% static 'images/jpg/service/5.jpg' %}" alt=""> </div>
                      <div class="col-md-5">
                        <div class="content">
                          <p>In viverra orci ut neque rutrum maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pharetra nibh leo, eu mollis ipsum gravida eget. Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non. Suspendisse vestibulum est sit amet efficitur Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non.</p>
                        </div>
                      </div>
                    </div>
                    <div class="content">
                      <p>Nullam mattis odio quis justo finibus ultricies. Duis elementum dui congue diam mattis blandit. Praesent convallis fringilla tellus a venenatis. Donec pharetra, leo tempus pulvinar fermentum, urna felis semper dui, at commodo metus purus ornare velit. Proin facilisis vehicula blandit. Nulla elementum congue fermentum. Aenean feugiat sit amet justo vitae tempus. Proin sed porttitor lorem, sed iaculis ligula. Aenean eget quam dolor. Aliquam id diam id mi condimentum semper vitae at lorem. Sed diam orci, malesuada sit amet ornare at, finibus vel mi. Vestibulum elit justo, posuere eget nibh vel, faucibus placerat sem. Sed id purus in urna ullamcorper hendrerit. In interdum pellentesque dolor, ut posuere lectus malesuada id. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade in" id="tab6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-7"> <img class="img-responsive img-fullwidth" src="{% static 'images/jpg/service/6.jpg' %}" alt=""> </div>
                      <div class="col-md-5">
                        <div class="content">
                          <p>In viverra orci ut neque rutrum maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pharetra nibh leo, eu mollis ipsum gravida eget. Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non. Suspendisse vestibulum est sit amet efficitur Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non.</p>
                        </div>
                      </div>
                    </div>
                    <div class="content">
                      <p>Nullam mattis odio quis justo finibus ultricies. Duis elementum dui congue diam mattis blandit. Praesent convallis fringilla tellus a venenatis. Donec pharetra, leo tempus pulvinar fermentum, urna felis semper dui, at commodo metus purus ornare velit. Proin facilisis vehicula blandit. Nulla elementum congue fermentum. Aenean feugiat sit amet justo vitae tempus. Proin sed porttitor lorem, sed iaculis ligula. Aenean eget quam dolor. Aliquam id diam id mi condimentum semper vitae at lorem. Sed diam orci, malesuada sit amet ornare at, finibus vel mi. Vestibulum elit justo, posuere eget nibh vel, faucibus placerat sem. Sed id purus in urna ullamcorper hendrerit. In interdum pellentesque dolor, ut posuere lectus malesuada id. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade in" id="tab7">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-7"> <img class="img-responsive img-fullwidth" src="{% static 'images/jpg/service/7.jpg' %}" alt=""> </div>
                      <div class="col-md-5">
                        <div class="content">
                          <p>In viverra orci ut neque rutrum maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pharetra nibh leo, eu mollis ipsum gravida eget. Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non. Suspendisse vestibulum est sit amet efficitur Vestibulum laoreet tellus lacus, quis porta nulla imperdiet non.</p>
                        </div>
                      </div>
                    </div>
                    <div class="content">
                      <p>Nullam mattis odio quis justo finibus ultricies. Duis elementum dui congue diam mattis blandit. Praesent convallis fringilla tellus a venenatis. Donec pharetra, leo tempus pulvinar fermentum, urna felis semper dui, at commodo metus purus ornare velit. Proin facilisis vehicula blandit. Nulla elementum congue fermentum. Aenean feugiat sit amet justo vitae tempus. Proin sed porttitor lorem, sed iaculis ligula. Aenean eget quam dolor. Aliquam id diam id mi condimentum semper vitae at lorem. Sed diam orci, malesuada sit amet ornare at, finibus vel mi. Vestibulum elit justo, posuere eget nibh vel, faucibus placerat sem. Sed id purus in urna ullamcorper hendrerit. In interdum pellentesque dolor, ut posuere lectus malesuada id. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}